@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: rgb(255, 255, 255);
  font-family: "poppins";
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.counterbox {
  height: 300px;
  width: 300px;
  background-color: rgb(175, 240, 248);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

button {
  height: 50px;
  border: none;
  outline: none;
}

.decreasebtn {
  width: 70px;
  background-color: red;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

.increasebtn {
  width: 70px;
  background-color: green;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

.resetbtn {
  width: 100px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bolder;
}

.counterinput {
  font-size: 32px;
  margin-top: 50px;
}

.input {
  height: 50px;
  width: inherit;
  margin-top: 30px;
  font-size: 24px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}
