body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkbox {
  padding: 20px;
  width: 150px;
  font-size: 24px;
}

#imagebox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-image: url("boyimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
